PORT=4000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/northline?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_string
OWNER_USERNAME=dale
OWNER_PASSWORD=changeme123
CORS_ORIGIN=http://localhost:5173
